body {
    background-color:bisque;
}

.container-xl {
    border-width: 10px black;
}

.col {
    /* background-color: yellow; */
    border: solid 2px black;
    border-radius: 10px;
    margin: 30px 0px;
}

.btn {
    margin: 5px;
}

img {
    width: 50%;
}

h1 {
    text-align: center;
}