body {
    background-color: bisque;
}

.container-xl {
    border-width: 10px black;
}

.col {
    /* background-color: yellow; */
    border: solid 2px black;
    border-radius: 10px;
    margin: 30px 0px;
}

.btn {
    margin: 5px;
}

img {
    width: 50%;
}

h1 {
    text-align: center;
}

#panelAW {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow: hidden;
}

#panelCF {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow: hidden;
}

#panelPH {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow: hidden;
}

#panelAW img {
    height: 700px;
    width: auto;
    overflow: hidden;
    border: none;
    max-width: 100%;
}

#panelCF img {
    height: 700px;
    width: auto;
    overflow: hidden;
    border: none;
    max-width: 100%;
}

#panelPH img {
    height: 700px;
    width: auto;
    overflow: hidden;
    border: none;
    max-width: 100%;
}