html {
    color: lightgray;
}

header {
    position: absolute;
    width: 50%;
}

body {
    text-align: center;
    position: relative; /* Ensure body acts as the positioning context */
    margin: 0;
}

div {
    margin: 0;
    width: 15%;
    position: absolute; /* Position the div absolutely */
}

.left {
    float: left;
    width: 40%;
}

.right {
    float: right;
    width: 40%;
}

.clearfix {
    float: none;
}

img {
    width: 40%;
    margin: 15px;
    width: 25%;
}
span {
    /* width: 50%; */
    margin: 0;
}

main {
    width: 80%;
    margin: 0;
}