div {
    border: solid 5px black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.left {
    float: left;
    width: 40%;
}

.right {
    float: right;
    width: 40%;
}

.clearfix {
    float: none;
}